<div class="password-reset-page" style="width: 600px; min-width: 50%; max-width: 100%; padding: 2% 5% 5%; margin: auto;">
    <h2>Запрос на сброс пароля</h2>
    <div class="form" style="position: relative; z-index: 1; background: #FFFFFF; min-width: 360px; margin: 0 auto auto; padding: 45px; text-align: center; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
        Запрос на изменение/восстановление пароля MYFITAPP отправлен на электронный адрес {{ email }}.
        Если это не вы, ничего не делайте. Если это вы, нажмите кнопку ниже:
        <br>
        <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><input class="button" type="submit" value="Сбросить пароль" style="text-transform: uppercase; outline: 0; background: #4c5866; width: 200px; border: 0; padding: 15px; color: #FFFFFF; font-size: 14px; -webkit-transition: all 0.3 ease; transition: all 0.3 ease; cursor: pointer;"></a>
    </div>
</div>

