<!--Запрос на изменение/восстановление пароля MYFITAPP отправлен на электронный адрес {{ email }}.-->
<!--Если это не вы, ничего не делайте. Если это вы, пройдите по ссылке ниже:-->
<!--{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}-->

<div class="password-reset-page">
    <h2>Запрос на сброс пароля</h2>
    <div class="form">
        Запрос на изменение/восстановление пароля MYFITAPP отправлен на электронный адрес {{ email }}.
        Если это не вы, ничего не делайте. Если это вы, нажмите кнопку ниже:
        <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><input class="button" type="submit" value="Сбросить пароль"></a>
    </div>
</div>