{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="register-page">
    <div class="form">
        <h3>Инструкции по изменению/восстановлению пароля отправлены вам по электронной почте. Если они не пришли в течение нескольких минут, проверьте папку со спамом.</h3>
        <div style="text-align: center"><a href="{% url 'charts' %}"><input class="button" type="submit" value="На главную" style="background: #8d96a1;"></a></div>
    </div>
</div>
{% endblock %}
