{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="password-reset-page">
        <h2>Введите адрес электронной почты для отправки письма для изменения/восстановления пароля.</h2>
        <div class="form">
            <form action="" method="post">
            {% csrf_token %}
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <input type="email" placeholder="Адрес электронной почты" id={{ form.email }}
                <button type="submit">Сбросить пароль</button>
            </form>
        </div>
    </div>
{% endblock %}