{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="profile-page">
            <h2>Пожалуйста введите и подтвердите новый пароль.</h2>
            <div class="form">
                <form class="edit-form" method="post">
                    {% csrf_token %}
                    <input type="password" placeholder="Введите пароль" id={{ form.new_password1 }}
                    <input type="password" placeholder="Повторите пароль" id={{ form.new_password2 }}
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <div class="alert alert-danger with-close alert-dismissible fade show">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <div class="alert alert-danger with-close alert-dismissible fade show">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <button type="submit">Подтвердить</button>
                </form>
            </div>
        </div>
    {% else %}
        <h1>Смена пароля отменена.</h1>
        <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс пароля снова.</p>
    {% endif %}
{% endblock %}