{% extends 'base.html' %}

{% block content %}
<h3>Дата: {{ main_date }}</h3>
<h3>Добавить к приему пищи</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <div style="display: none">{{form.customer.name}}{{form.customer}}</div>

                {{form.fooditem.name}}{{form.fooditem}}
                {{form.quantity.name}}{{form.quantity}}


                <div style="display: none">{{form.add_date}}</div>

                <div style="display: none">{{form.category.name}}{{form.category}}</div>
                <input type="submit" class="btn btn-success" value="submit">
            </form>


{% endblock %}