{% extends 'base.html' %}

{% block content %}
    {% if main_date == today_date %}
        <h3>Сегодняшняя дата: {{ today_date }}</h3>
    {% else %}
        <h3>Сегодняшняя дата: {{ today_date }}</h3>
        <h3>Выбранная дата: {{ main_date }}</h3>
    {% endif %}
    <h3>Выберите дату:</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="date" id="{{ form.c_date }}">
        <input type="submit" class="btn btn-success" value="Выбрать">
    </form>
{% endblock %}