{% extends 'base.html' %}

{% block title %}Редактирование профиля{% endblock %}

{% block content %}


    <div class="edit-page">
        <h2>Редактирование профиля</h2>
        <div class="form">
            <form class="edit-form" method="post">
            {% csrf_token %}
                <input type="text" placeholder="Имя" id={{ form.username }}
                <input type="email" placeholder="Адрес электронной почты" id={{ form.email }}
                <sup class="profile_message">{{ form.gender.label_tag }}</sup>{{ form.gender }}
                <sup class="profile_message">{{ form.birth_date.label_tag }}</sup><input type="date" value="{{user.birth_date}}" placeholder="Дата рождения" id={{ form.birth_date }}
                <sup class="profile_message">{{ form.growth.label_tag }}</sup><input type="number" value="{{ user.growth }}" placeholder="Рост" id={{ form.growth }}
                <sup class="profile_message">{{ form.calories.label_tag }}, 0 - чтобы рассчитать автоматически</sup><input type="number" value="{{ user.calories }}" placeholder="Норма калорий, 0 - чтобы рассчитать автоматически" id={{ form.calories }}
                <sup class="profile_message">{{ form.activity.label_tag }}</sup>
                {{ form.activity }}
                <ul class="activity_list">
                    <li>Минимальный. Для малоподвижных людей, тренировок мало или они отсутствуют</li>
                    <li>Слабый. Для людей с низкой активностью, легкие тренировки 1-3 раза в неделю или в виде эквивалента другой активности.</li>
                    <li>Умеренный. Для умеренно активных людей: физическая работа средней тяжести или регулярные тренировки 3-5 дней в неделю.</li>
                    <li>Тяжелый. Для очень активных людей: физическая работа полный день или интенсивные тренировки 6-7 раз в неделю.</li>
                    <li>Экстремальный. Для предельно активных людей: тяжелая физическая работа и интенсивные тренировки/занятия спортом.</li>
                </ul>
                <sup class="profile_message">{{ form.avatar.label_tag }}</sup><br>
                {{ form.avatar }}
                {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <div class="alert alert-danger with-close alert-dismissible fade show">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
            <button type="submit">Сохранить</button>
            </form>
            <a href="{% url 'password_reset' %}"><input class="button" type="submit" value="Изменить пароль" style="background: #8d96a1;"></a>
        </div>
    </div>
{% endblock %}
