{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ user.username }}</h1>
        <p><img src="{{ user.avatar.url }}" alt="Аватар" class="round"></p>
        <p>Адрес электронной почты: {{ user.email }}</p>
        <p>Пол: {{ user.gender }}</p>
        <p>Дата рождения: {{ user.birth_date }}</p>
        <p>Рост: {{ user.growth }} см</p>
        <p>Вес: {{ user.weight }} кг</p>
        <p>Коэффициент массы тела: {{ user.body_mass_ratio.0 }} - {{ user.body_mass_ratio.1 }}</p>
        <p>Уровень активности: {{ user.activity }}</p>
        {% if user.calories > 0 %}
            <p>Норма потребления калорий в день: {{ user.calories }} Ккал</p>
        {% else %}
            <p>Норма потребления калорий в день: {{ user.calories_per_day }} Ккал</p>
        {% endif %}
        <a href="{% url 'edit_profile' user.username%}"><input class="button" type="submit" value="Редактировать профиль"></a>
        <a href="{% url 'weighing' user.username%}"><input class="button" type="submit" value="Взвешивание"></a>
    </div>
{% endblock %}