{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ user.username }}</h1>

    <p><img src="{{ user.avatar.url }}" alt="Аватар" class="round"></p>

    <p>Адрес электронной почты: {{ user.email }}</p>
    <p>Пол: {{ user.gender }}</p>
    <p>Дата рождения: {{ user.birth_date }}</p>
    <p>Рост: {{ user.growth }} см</p>
    <p>Вес: {{ user.weight }} кг</p>
    <p>Уровень активности: {{ user.activity }}</p>
    <p>Норма потребления калорий в день: {{ user.calories_per_day }} Ккал</p>


    <a href="{% url 'edit_profile' user.username%}"><input class="button" type="submit" value="Редактировать профиль"></a>
  </div>

{% endblock %}