{% extends 'base.html' %}

{% block title %}Следим за фигурой{% endblock %}

{% block content %}

<h3>Total number of items consumed today: {{cnt}}</h3>

<div class="today">
	<h2>Tracker</h2>
	<div class="flex-box-row">
		<h3>Calorie Limit: {{user.calories_per_day}}</h3>
		<h3>totalCalories consumed: {{totalCalories}}</h3>
		<h3>Left: {{ CalorieLeft }}</h3>
	</div>

    <div class="card card-body">
        <table>
            <tr>
                <th>fooditem</th>
                <th>Calorie</th>
                <th>Carbs</th>
                <th>Fats</th>
                <th>Protien</th>
            </tr>
            {% for food in foodlist %}
            <tr>
                <td>{{food.name}}</td>
                <td> {{food.calorie}}</td>
                <td> {{food.carbohydrate}}</td>
                <td> {{food.fats}}</td>
				<td> {{food.protein}}</td>
				<td> {{food.quantity}}</td>
			</tr>
            {% endfor %}
        </table>

			{% if foodlist %}
				<a href="{% url 'deleteFooditem' %}">Удалить последний продукт</a>
			{% endif %}

	</div>

	<form method="POST">
		{%csrf_token%}
		<a href="{% url 'addFooditem' %}">Добавить продукт</a>
	</form>
</div>

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{myfilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
</div>
<br>
<hr>
<h3>Available items:</h3>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>fooditem</th>
					<th>Calorie</th>
					<th>Carbs</th>
					<th>Fats</th>
					<th>Protien</th>
				</tr>
				{% for food in fooditem %}
				<tr>
					<td>{{food.name}}</td>
					<td> {{food.calorie}}</td>
					<td> {{food.carbohydrate}}</td>
                    <td> {{food.fats}}</td>
                    <td> {{food.protein}}</td>
					</tr>
				{% endfor %}
			</table>
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'createfooditem' %}">Add more options</a>
		</div>
	</div>
</div>

{% endblock %}