{% extends 'base.html' %}

{% block title %}Следим за фигурой{% endblock %}

{% block content %}
    {% csrf_token %}
    <br>
    <h3>Количество употребленных продуктов: {{cnt}}</h3>
    <div class="today">
        <div class="flex-box-row">
            <h3>Количество калорий: {{user.calories_per_day}}</h3>
            <h3>Всего калорий употреблено: {{totalCalories}}</h3>
            <h3>Осталось: {{ CalorieLeft }}</h3>
            <a href="{% url 'choose_date' %}">Выберите дату</a>
            <h3>Дата: {{ main_date }}</h3>
        </div>
    </div>
    <br>

    <div class="flex-box-row">
        <h5 id="heading">Завтрак</h5>
        <h7>Всего продуктов:{{bcnt}}</h7>
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'addFooditem_breakfast' %}">Добавить продукт</a>
        <table class="table table-sm">
            <tr>
                <th>Название продукта</th>
                <th>Калорийность</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Масса</th>
            </tr>
            {% for item_id in breakfast_view_dict.items %}
                <tr>
                    <td>{{item_id.01.name}} </td>
                    <td>{{item_id.1.calorie}} </td>
                    <td>{{item_id.1.protein}} </td>
                    <td>{{item_id.1.fats}} </td>
                    <td>{{item_id.1.carbohydrate}} </td>
                    <td>{{item_id.1.quantity}} </td>
                    <td>
                        <form action="{% url 'deleteFooditem' item_id.0 %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <!-------------------------------------->
    <div class="flex-box-row">
        <h5 id="heading">Обед</h5>
        <h7>Всего продуктов:{{lcnt}}</h7>
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'addFooditem_lunch' %}">Добавить продукт</a>
        <table class="table table-sm">
            <tr>
                <th>Название продукта</th>
                <th>Калорийность</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Масса</th>
            </tr>
            {% for item_id in lunch_view_dict.items %}
                <tr>
                    <td>{{item_id.01.name}} </td>
                    <td>{{item_id.1.calorie}} </td>
                    <td>{{item_id.1.protein}} </td>
                    <td>{{item_id.1.fats}} </td>
                    <td>{{item_id.1.carbohydrate}} </td>
                    <td>{{item_id.1.quantity}} </td>
                    <td>
                        <form action="{% url 'deleteFooditem' item_id.0 %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <!-------------------------------------->
    <div class="flex-box-row">
        <h5 id="heading">Ужин</h5>
        <h7>Всего продуктов:{{dcnt}}</h7>
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'addFooditem_dinner' %}">Добавить продукт</a>
        <table class="table table-sm">
            <tr>
                <th>Название продукта</th>
                <th>Калорийность</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Масса</th>
            </tr>
            {% for item_id in dinner_view_dict.items %}
                <tr>
                    <td>{{item_id.01.name}} </td>
                    <td>{{item_id.1.calorie}} </td>
                    <td>{{item_id.1.protein}} </td>
                    <td>{{item_id.1.fats}} </td>
                    <td>{{item_id.1.carbohydrate}} </td>
                    <td>{{item_id.1.quantity}} </td>
                    <td>
                        <form action="{% url 'deleteFooditem' item_id.0 %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <!-------------------------------------->
    <div class="flex-box-row">
        <h5 id="heading">Перекусы</h5>
        <h7>Всего продуктов:{{scnt}}</h7>
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'addFooditem_snacks' %}">Добавить продукт</a>
        <table class="table table-sm">
            <tr>
                <th>Название продукта</th>
                <th>Калорийность</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Масса</th>
            </tr>
            {% for item_id in snacks_view_dict.items %}
                <tr>
                    <td>{{item_id.01.name}} </td>
                    <td>{{item_id.1.calorie}} </td>
                    <td>{{item_id.1.protein}} </td>
                    <td>{{item_id.1.fats}} </td>
                    <td>{{item_id.1.carbohydrate}} </td>
                    <td>{{item_id.1.quantity}} </td>
                    <td>
                        <form action="{% url 'deleteFooditem' item_id.0 %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
{% endblock %}