{% extends 'base.html' %}

{% block title %}Следим за фигурой{% endblock %}

{% block content %}
    {% csrf_token %}
    <br>
    <h3>Количество употребленных продуктов: {{cnt}}</h3>
    <div class="today">
        <div class="flex-box-row">
            <h3>Количество калорий: {{user.calories_per_day}}</h3>
            <h3>Всего калорий употреблено: {{totalCalories}}</h3>
            <h3>Осталось: {{ CalorieLeft }}</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="date" id="{{ form_ch.c_date }}
                <input type="submit" class="btn btn-success" value="Выбрать">
            </form>
            <h3>Дата: {{ main_date }}</h3>
        </div>
    </div>
    <br>

    <div class="flex-box-row">
        <h5 id="heading">Завтрак</h5>
        <h7>Всего продуктов:{{bcnt}}</h7>
<!--        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'addFooditem_breakfast' %}">Добавить продукт</a>-->

<button type="button" class="btn btn-primary" name="add_to_breakfast" data-toggle="modal" data-target="#myModal_breakfast"><i class="fa fa-plus" aria-hidden="true"></i></button>
<div class="modal fade" id="myModal_breakfast"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Добавить к завтраку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div style="display: none">{{form_br.customer.name}}{{form_br.customer}}</div>
                    Название продукта: {{form_br.fooditem}}
                    Количество в граммах: {{form_br.quantity}}
                    <div style="display: none">{{form_br.add_date}}</div>
                    <div style="display: none">{{form_br.category.name}}{{form_br.category}}</div>
                    <input type="submit" class="btn btn-success" name="add_to_breakfast" value="Добавить">
                </form>
            </div>
        </div>
    </div>
</div>

        <table class="table table-sm">
            <tr>
                <th>Название продукта</th>
                <th>Калорийность</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Масса</th>
                <th></th>
            </tr>
            {% for item_id in breakfast_view_dict.items %}
                <tr>
                    <td>{{item_id.01.name}} </td>
                    <td>{{item_id.1.calorie}} </td>
                    <td>{{item_id.1.protein}} </td>
                    <td>{{item_id.1.fats}} </td>
                    <td>{{item_id.1.carbohydrate}} </td>
                    <td>{{item_id.1.quantity}} </td>
                    <td>
                        <form action="{% url 'deleteFooditem' item_id.0 %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <br>
    <!-------------------------------------->
    <div class="flex-box-row">
        <h5 id="heading">Обед</h5>
        <h7>Всего продуктов:{{lcnt}}</h7>
<!--        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'addFooditem_lunch' %}">Добавить продукт</a>-->

<button type="button" class="btn btn-primary" name="add_to_lunch" data-toggle="modal" data-target="#myModal_lunch"><i class="fa fa-plus" aria-hidden="true"></i></button>
<div class="modal fade" id="myModal_lunch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Добавить к обеду</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div style="display: none">{{form_lu.customer.name}}{{form_lu.customer}}</div>
                    Название продукта: {{form_lu.fooditem}}
                    Количество в граммах: {{form_lu.quantity}}
                    <div style="display: none">{{form_lu.add_date}}</div>
                    <div style="display: none">{{form_lu.category.name}}{{form_lu.category}}</div>
                    <input type="submit" class="btn btn-success" name="add_to_lunch" value="Добавить">
                </form>
            </div>
        </div>
    </div>
</div>

        <table class="table table-sm">
            <tr>
                <th>Название продукта</th>
                <th>Калорийность</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Масса</th>
                <th></th>
            </tr>
            {% for item_id in lunch_view_dict.items %}
                <tr>
                    <td>{{item_id.01.name}} </td>
                    <td>{{item_id.1.calorie}} </td>
                    <td>{{item_id.1.protein}} </td>
                    <td>{{item_id.1.fats}} </td>
                    <td>{{item_id.1.carbohydrate}} </td>
                    <td>{{item_id.1.quantity}} </td>
                    <td>
                        <form action="{% url 'deleteFooditem' item_id.0 %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <br>
    <!-------------------------------------->
    <div class="flex-box-row">
        <h5 id="heading">Ужин</h5>
        <h7>Всего продуктов:{{dcnt}}</h7>
<!--        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'addFooditem_dinner' %}">Добавить продукт</a>-->

        <button type="button" class="btn btn-primary" name="add_to_dinner" data-toggle="modal" data-target="#myModal_dinner"><i class="fa fa-plus" aria-hidden="true"></i></button>
<div class="modal fade" id="myModal_dinner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Добавить к ужину</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div style="display: none">{{form_di.customer.name}}{{form_di.customer}}</div>
                    Название продукта: {{form_di.fooditem}}
                    Количество в граммах: {{form_di.quantity}}
                    <div style="display: none">{{form_di.add_date}}</div>
                    <div style="display: none">{{form_di.category.name}}{{form_di.category}}</div>
                    <input type="submit" class="btn btn-success" name="add_to_dinner" value="Добавить">
                </form>
            </div>
        </div>
    </div>
</div>
        <table class="table table-sm">
            <tr>
                <th>Название продукта</th>
                <th>Калорийность</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Масса</th>
                <th></th>
            </tr>
            {% for item_id in dinner_view_dict.items %}
                <tr>
                    <td>{{item_id.01.name}} </td>
                    <td>{{item_id.1.calorie}} </td>
                    <td>{{item_id.1.protein}} </td>
                    <td>{{item_id.1.fats}} </td>
                    <td>{{item_id.1.carbohydrate}} </td>
                    <td>{{item_id.1.quantity}} </td>
                    <td>
                        <form action="{% url 'deleteFooditem' item_id.0 %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <!-------------------------------------->
    <div class="flex-box-row">
        <h5 id="heading">Перекусы</h5>
        <h7>Всего продуктов:{{scnt}}</h7>
<!--        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'addFooditem_snacks' %}">Добавить продукт</a>-->

<button type="button" class="btn btn-primary" name="add_to_snacks" data-toggle="modal" data-target="#myModal_snacks"><i class="fa fa-plus" aria-hidden="true"></i></button>
<div class="modal fade" id="myModal_snacks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Добавить к перекусам</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div style="display: none">{{form_sn.customer.name}}{{form_sn.customer}}</div>
                    Название продукта: {{form_sn.fooditem}}
                    Количество в граммах: {{form_sn.quantity}}
                    <div style="display: none">{{form_sn.add_date}}</div>
                    <div style="display: none">{{form_sn.category.name}}{{form_sn.category}}</div>
                    <input type="submit" class="btn btn-success" name="add_to_snacks" value="Добавить">
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
        <table class="table">
            <tr>
                <th>Название продукта</th>
                <th>Калорийность</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Масса</th>
                <th></th>
            </tr>
            {% for item_id in snacks_view_dict.items %}
                <tr>
                    <td>{{item_id.01.name}} </td>
                    <td>{{item_id.1.calorie}} </td>
                    <td>{{item_id.1.protein}} </td>
                    <td>{{item_id.1.fats}} </td>
                    <td>{{item_id.1.carbohydrate}} </td>
                    <td>{{item_id.1.quantity}} </td>
                    <td>
                        <form action="{% url 'deleteFooditem' item_id.0 %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
{% endblock %}